body {
    /* font-family: 'Barlow', sans-serif; */
    /* font-family: 'Fraunces', serif; */
    margin: 0;
    font-size: 18px;
}
a {
    text-decoration: none;
}

.header {
    background-image: url(./images/desktop/image-header.jpg);
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
    max-width: 1440px;
    margin: 0 auto;
    
}

.header-content {
    font-family: 'Fraunces', serif;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    margin-top: 0;
    padding-top: 15px;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    color: hsl(0, 0%, 100%);
}

.nav-item:first-child {
    margin-right: auto;
    font-weight: 800;
    font-size: 150%;
}

.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 5rem;
    color: hsl(0, 0%, 100%);
}

.icon-arrow {
    /* background-image: url(./images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    height: 8rem; */
    display: block;
    margin: auto;
}



.flexbox {
    display: flex;
    /* flex-wrap: wrap; */
    flex: 0 0 100%;
    justify-content: center;
}

.flexbox > * {
    width: 100%;
    height: 500px;
    max-width: 720px;
    /* padding: 50px; */
}

.flex-item-1 {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
}

.text-area {
    padding: 0 5rem 0 5rem;
}
.text-area h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
.text-area p {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}
.text-area a {
    color: black;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
}

#egg.flex-item-2 {
    background: url(./images/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#stand-out.flex-item-2 {
    background: url(./images/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flex-item-graphics {
    display: flex;
    align-items: flex-end;
    background: url(./images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flex-item-photography {
    display: flex;
    align-items: flex-end;
    background: url(./images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flex-pics .text-area {
    text-align: center;
    min-height: 161px;
    margin-bottom: 2rem;

}

#testimonials {
    text-align: center;
    padding: 5rem;
    background-color: hsl(26, 100%, 99%);

}
.testimonials-flexbox {
    display: flex;
}

#testimonials h3 {
    margin-bottom: 4rem;
    color: rgb(168, 167, 167);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
}

.client {
    padding: 0 1rem 0 1rem;
    font-family: 'Barlow', sans-serif;
}
.client h4 {
    margin: 4rem 0 0 0 ;
    /* margin-bottom: 0; */
    font-family: 'Fraunces', serif;
}
.client-title {
    margin-top: 0.5rem;
    color: hsl(240, 0%, 57%);
}

.client img {
    height: 90px;
    border-radius: 50px;
}

